

<div 
  class="flex flex-col items-center justify-center bg-gray-100 h-screen/2 select-none">
  <div 
    class="flex flex-col -mt-32 bg-white px-4 sm:px-6 md:px-8 lg:px-10 py-8 rounded-xl shadow-2xl w-full max-w-md  border-l-4 border-purple-600">
      <div class="font-medium self-center text-xl sm:text-2xl uppercase w-60 text-center bg-purple-600 shadow-2xl p-6 rounded-full text-white">Sign In</div>
      <div class="mt-10">
          <form #user="ngForm" (ngSubmit)="addUser(user.value)">                
              <div class="relative w-full mb-3">
                  <input 
                    type="text" name="firstname" required  
                    [(ngModel)]="userInterface.firstname" #userFirstName="ngModel" #watchState
                    class="border-0 p-4 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full" placeholder="Firstname" style="transition: all 0.15s ease 0s;" />
                  <small [hidden]="userFirstName.valid || userFirstName.pristine" class="p-2 text-red-500">* Firstname</small>
              </div>
              <div class="relative w-full mb-3">
                  <input 
                  type="text" name="lastname" required  
                  [(ngModel)]="userInterface.lastname" #userLastName="ngModel"  #watchState
                  class="border-0 p-4 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full" placeholder="Lastname" style="transition: all 0.15s ease 0s;" />
                  <small [hidden]="userLastName.valid || userLastName.pristine"  class="p-2 text-red-500">* Lastname</small>
              </div>
              <div class="relative w-full mb-3">
                <input 
                type="text" name="email" required  
                [(ngModel)]="userInterface.email" #userEmail="ngModel"  #watchState
                class="border-0 p-4 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full" placeholder="Email" style="transition: all 0.15s ease 0s;" />
                <small [hidden]="userEmail.valid || userEmail.pristine"  class="p-2 text-red-500">* Email</small>
              </div>
              <div class="relative w-full mb-3">
                <input 
                type="password" name="password" required  
                [(ngModel)]="userInterface.password" #userPassword="ngModel"  #watchState
                class="border-0 p-4 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full" placeholder="Email" style="transition: all 0.15s ease 0s;" />
                <small [hidden]="userPassword.valid || userPassword.pristine"  class="p-2 text-red-500">* Password</small>
              </div>
              <div class="text-center mt-6">
                  <input 
                    
                    type="submit" 
                    name="signin" 
                    id="signin" 
                    value="Add" 
                    class="p-3 rounded-lg bg-purple-600 outline-none text-white shadow w-32 justify-center focus:bg-purple-700 hover:bg-purple-500">
              </div>  
              
          </form>
      </div>
  </div>
</div>
